<h1>List</h1>
<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      URL
    </th>
    <th>
      Date of Posted
    </th>
    <th>
      Content
    </th>
  </tr>

  <%= for p <- assigns[:posts] do %>
    <tr>
      <td>
        <%= p.title %>
      </td>
      <td>
        <%= p.url %>
      </td>
      <td>
        <%= p.post_date %>
      </td>
      <td>
        <%= p.content %>
      </td>
    </tr>
  <% end %>
</table>
